*{
	padding: 0px;
	margin: 0px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;

}

.calculadora{

<<<<<<< HEAD
	background-color: #f3c623; 
=======
	background-color: rgba(85, 200, 25, 0.5);
>>>>>>> 4eaaa973628ade8f74eaddd8b743b5f9356402f2
	width: fit-content;
	margin: auto;
	margin-top: 30px;

}

.sr{

	padding: 0px 18px 18px;

}

.sr button{

	width: 100%;
	background-color: rgba(0, 0, 255, 0.5);
	color: #fff;
	border: none;

}

.pantalla{

	padding: 18px 18px 0px 18px;
	text-align: center;
	
	

}

.teclas
{
	display: flex;
	padding: 18px;
	justify-content: center;
	background:#d4f3ef ;

}
.numeros{

	padding: 18px 9px 18px 18px;

}

.numeros div{

	text-align: center;
	

}

.numeros button{

	border: 1px solid;
	background-color: #f54291;
	transition: all 0.09s;
	color:white;


}

.numeros button:hover{

	box-shadow: 1px 1px 5px #aaa;
}

.numeros button:hover
{
	background-color: #C0C0C0;
}

button{

	padding: 15px 24px;
	margin: 2px 0px;
	font-size: 20px

}


.op{

	padding: 18px 18px 18px 9px;
}



.op button{

	display: block;
	width: 54px;
	height: 54px;
	padding: 9px 15px;
	background-color: rgba(25, 25, 112, 0.5);
	border: 2px solid;
	border-color:#6a097d;

}

.op button:hover
{
	background-color: #6A5ACD;
}
#resultado{

	background-color: #fcf876;
	color: #6a197d;
	padding: 9px;
	font-size: 45px;

}